/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
}
.book-library{
	background-color:#ffffff;
	padding:2rem;
}
.book{
	margin-bottom:10px;
	
}
button{
	display:block;
	width:100%;
	text-align:center;
	background-color:#2ecc71;
}
img{
	width:30%;
	margin:auto;
}
p{
	color:#777777;
}
